html
  head
    title= title
  body
    h1=message
    form(action='/todos' method = 'GET')
      input(type='text', name='q')
      br
      br
      button Search

    ul
     each val in todoList
      li= val
